a{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.contact-list{
    text-decoration: none;
}
.nav_li{
    text-decoration: none;
}
.hero_text{
margin: 0;
padding: 0;

}
.button-text{
    text-decoration: none;
}
h2{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
img{
  margin: 0;
  padding: 0;  
display: block  ;
}
.header-logo{
    text-decoration: none;
}