:root
{
   --main-text-color: #212121 ;
   --hover-color: #2196F3;
   --addtext-color:#757575;
   --logo-color:#000;
   --main-color:#fff;
   --footer-contact:rgba(255,255,255,0.6);
   --background-color:#2f303a;
   --team-background-color:#f5f4fa;
   --portfolio-line:#ececec;

}
.conteiner{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
outline: 1px solid red; 
}
.header{
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-con{
display: flex;
align-items: center;
}
.header-logo{
color: var(--main-text-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;

}
.web {
  color: var(--hover-color);
}

.studio {
  color: var(--main-text-color);
}
.header_list{
  display: flex;
  gap: 50px
  ;
}
.contact{
  margin-left: auto;
}
.header_item{
  color:var(--main-text-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
text-decoration: none;
 ;
}
.header_item:hover{
  color:var(--hover-color)
}
.contact{
  display: flex;
  gap: 50px;
}

.contact_list{
  color: var(--addtext-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.38;
letter-spacing: 0.28px;
}
.contact_list:hover{
color:var(--hover-color)
}
.hero
{
  background-color: var(--background-color) ;  
  padding-bottom: 200px  ;
  padding-top: 200px; 
  text-align: center;
}
.hero_text
{
color: var(--main-color);
font-family: Roboto;
font-size: 44px; 
font-weight: 900;
line-height: 1.36;
letter-spacing: 2.64px;
width: 696px;
text-transform: uppercase;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
}

.hero_button
{
  font-weight: 900;
  color: var(--main-color);
  border-radius: 4px;
background: var(--hover-color);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 background-color: var(--hover-color);
 padding: 10px 32px;
 
}
.button-text{
  color: var(--main-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: 1.87;
font-weight: 900;
line-height: 30px;
letter-spacing: 0.96px;
}
.us .conteiner{
  padding-bottom: 94px;
  padding-top: 94px;
}
.us_minitext{
  display: flex;
  gap: 30px;

}
.gen_minitext{
  color: var(--main-text-color);
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}
.about .conteiner{
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  font-weight: 700;
  
}
.gen_text{
  
  color: var(--main-text-color);
  text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;

} 
.us-list{
  display: flex;
    flex-wrap: wrap ;
    gap: 30px;
}
.us-img{
  margin-top: 50px;
  width: 370.0px;
height: 294.0px;
}

.team .conteiner{
  padding-top: 94px;
  padding-bottom: 94px;
}
.sec-gen-text{
  color: var(--main-text-color);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}
.team{
  background: var(--team-background-color);
}
.team-ul{
  display: flex;
  gap: 30px;
}
.team-foto{
  margin-top: 50px;
width: 270.0px;
height: 368.0px;
}

.footer .conteiner{
  padding-top: 60px;
  padding-bottom: 60px;

}
.footer{
  background: var(--background-color);
}

.contact-list{
  color: var(--main-text-color);
}
.nav_li{
  color: var(--main-text-color);
}

.secondary_minitext{
color: var(--addtext-color);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
}


.footer_logo{
  color: var(--main-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
text-decoration: none;
margin-top: 60px;
margin-bottom: 20 ;
}
.studi{
  color: var(--main-color);
}
.contact-list{
color: var(--footer-contact);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;

}
.contact-list:first-child{
  margin-top: 20px;
}

